flow-outlook-intake-to-teams.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "LCC_HOST": {
        "type": "String",
        "defaultValue": "https://tranquil-delight-production-633f.up.railway.app"
      },
      "LCC_API_KEY": {
        "type": "String",
        "defaultValue": "REPLACE_ME"
      },
      "LCC_WORKSPACE": {
        "type": "String",
        "defaultValue": "REPLACE_WORKSPACE_UUID"
      },
      "TEAMS_TEAM_ID": {
        "type": "String",
        "defaultValue": "REPLACE_TEAM_ID"
      },
      "TEAMS_CHANNEL_ID": {
        "type": "String",
        "defaultValue": "REPLACE_CHANNEL_ID"
      }
    },
    "triggers": {
      "When_an_email_is_flagged_(V3)": {
        "type": "ApiConnectionNotification",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "fetch": {
            "pathTemplate": {
              "template": "/v3/Mail/OnFlaggedEmail"
            },
            "method": "get",
            "queries": {
              "folderPath": "Inbox",
              "importance": "Any",
              "fetchOnlyWithAttachment": false
            }
          },
          "subscribe": {
            "body": {
              "NotificationUrl": "@{listCallbackUrl()}"
            },
            "pathTemplate": {
              "template": "/v3/Mail/OnFlaggedEmailPokeSubscription"
            },
            "method": "post",
            "queries": {
              "folderPath": "Inbox",
              "importance": "Any",
              "fetchOnlyWithAttachment": false
            }
          }
        }
      }
    },
    "actions": {
      "Compose_EmailSummary": {
        "type": "Compose",
        "inputs": "@{substring(triggerOutputs()?['body/bodyPreview'], 0, min(length(triggerOutputs()?['body/bodyPreview']), 220))}"
      },
      "HTTP_IngestEmails": {
        "type": "Http",
        "runAfter": {
          "Compose_EmailSummary": [
            "Succeeded"
          ]
        },
        "inputs": {
          "method": "POST",
          "uri": "@{concat(parameters('LCC_HOST'), '/api/sync?action=ingest_emails')}",
          "headers": {
            "Content-Type": "application/json",
            "x-lcc-key": "@{parameters('LCC_API_KEY')}",
            "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
          },
          "body": {}
        }
      },
      "HTTP_GetIntakeSummary": {
        "type": "Http",
        "runAfter": {
          "HTTP_IngestEmails": [
            "Succeeded"
          ]
        },
        "inputs": {
          "method": "GET",
          "uri": "@{concat(parameters('LCC_HOST'), '/api/intake-summary?correlation_id=', body('HTTP_IngestEmails')?['correlation_id'], '&limit=1')}",
          "headers": {
            "x-lcc-key": "@{parameters('LCC_API_KEY')}",
            "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
          }
        }
      },
      "Post_message_in_a_chat_or_channel": {
        "type": "ApiConnection",
        "runAfter": {
          "HTTP_GetIntakeSummary": [
            "Succeeded"
          ]
        },
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['teams']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v3/conversations/@{encodeURIComponent(parameters('TEAMS_TEAM_ID'))}/channels/@{encodeURIComponent(parameters('TEAMS_CHANNEL_ID'))}/messages",
          "body": {
            "content": "📥 **New Intake Item Captured**\n\n**Sender:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['sender'], triggerOutputs()?['body/from'])}\n**Subject:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['subject'], triggerOutputs()?['body/subject'])}\n**Summary:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['summary'], outputs('Compose_EmailSummary'))}\n\n🔗 **LCC Item:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['lcc_item_url'], concat(parameters('LCC_HOST'), '/#/inbox'))}\n📧 **Open Email:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['email_url'], triggerOutputs()?['body/webLink'])}\n\n_Run:_ @{body('HTTP_IngestEmails')?['correlation_id']}\n_Processed:_ @{body('HTTP_IngestEmails')?['processed']}\n_Failed:_ @{body('HTTP_IngestEmails')?['failed']}"
          }
        }
      },
      "HTTP_ProcessingComplete": {
        "type": "Http",
        "description": "LCC relay (Option A caller): POST the single processing-complete event so LCC's /api/webhooks/processing-complete → pa-move-message.js fires the 'LCC Processing Complete → Move Message' flow. One POST per flagged email (single internet_message_id from the trigger — never batched). Runs after the Teams card so a move failure never blocks the notification, and surfaces honestly in this flow's run history (a 502/503 marks the run failed).",
        "runAfter": {
          "Post_message_in_a_chat_or_channel": [
            "Succeeded"
          ]
        },
        "inputs": {
          "method": "POST",
          "uri": "@{concat(parameters('LCC_HOST'), '/api/webhooks/processing-complete')}",
          "headers": {
            "Content-Type": "application/json",
            "x-lcc-key": "@{parameters('LCC_API_KEY')}",
            "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
          },
          "body": {
            "correlation_id": "@{body('HTTP_IngestEmails')?['correlation_id']}",
            "schema_version": "1.0",
            "internet_message_id": "@{triggerOutputs()?['body/internetMessageId']}",
            "target_folder": "Processed/General",
            "disposition": "auto_filed",
            "subject": "@{triggerOutputs()?['body/subject']}"
          }
        }
      }
    }
  },
  "connectionReferences": {
    "office365": {
      "api": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365"
      },
      "connection": {
        "id": "CONFIGURE_AT_IMPORT"
      },
      "connectionName": "shared-office365"
    },
    "teams": {
      "api": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_teams"
      },
      "connection": {
        "id": "CONFIGURE_AT_IMPORT"
      },
      "connectionName": "shared-teams"
    }
  }
}
