flow-google-news-alert.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_a_new_Google_Alert_arrives": {
        "type": "ApiConnectionNotification",
        "description": "Fires on every new email from Google Alerts (sender-based, NOT subject). Google always sends from googlealerts-noreply@google.com.",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "fetch": {
            "pathTemplate": {
              "template": "/v3/Mail/OnNewEmail"
            },
            "method": "get",
            "queries": {
              "folderPath": "Inbox",
              "from": "googlealerts-noreply@google.com",
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "includeAttachments": false,
              "fetchOnlyUnread": false
            }
          },
          "subscribe": {
            "pathTemplate": {
              "template": "/GraphMailSubscriptionPoke/$subscriptions"
            },
            "method": "post",
            "queries": {
              "folderPath": "Inbox"
            },
            "body": {
              "NotificationUrl": "@{listCallbackUrl()}"
            }
          }
        }
      }
    },
    "actions": {
      "Html_to_text": {
        "type": "ApiConnection",
        "description": "Google Alerts are HTML \u2014 convert to plain text so raw_body is clean for the deterministic parser.",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['conversionservice']['connectionId']"
            }
          },
          "method": "post",
          "path": "/html2text",
          "body": "@triggerOutputs()?['body/body']"
        },
        "runAfter": {}
      },
      "POST_to_news_alert_ingest": {
        "type": "Http",
        "description": "Cross-vertical Google Alert intake. The edge function classifies dialysis/government/netlease, runs the confidence gate, dedups 90-day reposts, and returns archive:true|false.",
        "inputs": {
          "method": "POST",
          "uri": "REPLACE_WITH_LEAD_INGEST_BASE_URL/lead-ingest?action=news_alert",
          "headers": {
            "Content-Type": "application/json",
            "X-PA-Webhook-Secret": "REPLACE_WITH_PA_WEBHOOK_SECRET"
          },
          "body": {
            "source_ref": "@{triggerOutputs()?['body/id']}",
            "subject": "@{triggerOutputs()?['body/subject']}",
            "raw_body": "@{body('Html_to_text')?['text']}",
            "internet_message_id": "@{triggerOutputs()?['body/internetMessageId']}"
          }
        },
        "runAfter": {
          "Html_to_text": [
            "Succeeded"
          ]
        }
      },
      "Note_move_handled_by_pull_queue": {
        "type": "Compose",
        "description": "Auto-archive/cleanup: the lead-ingest edge function recorded a processing_complete decision in processing_log (a high-confidence tracked-tenant hit files the email to Processed/Leads; a low-confidence hit is left in the Inbox for review). The separate processing-complete webhook flow (GET /api/webhooks/processing-complete) performs the Outlook move by internetMessageId. This flow no longer moves the email inline.",
        "inputs": {
          "news_lead_id": "@{body('POST_to_news_alert_ingest')?['news_lead_id']}",
          "outcome": "@{if(equals(body('POST_to_news_alert_ingest')?['route'],'auto'),'filed','needs_review')}",
          "target_folder": "@{body('POST_to_news_alert_ingest')?['target_folder']}",
          "confidence": "@{body('POST_to_news_alert_ingest')?['confidence']}"
        },
        "runAfter": {
          "POST_to_news_alert_ingest": [
            "Succeeded"
          ]
        }
      }
    }
  },
  "connectionReferences": {
    "office365": {
      "connectionName": "shared_office365",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
      "tier": "NotSpecified"
    },
    "conversionservice": {
      "connectionName": "shared_conversionservice",
      "source": "Invoker",
      "id": "/providers/Microsoft.PowerApps/apis/shared_conversionservice",
      "tier": "NotSpecified"
    }
  }
}