flow-outlook-lcc-intake-folder-to-teams.json
{
  "name": "flow-outlook-lcc-intake-folder-to-teams",
  "description": "Trigger on new email arriving in Inbox/LCC Intake, post to /api/intake-outlook-message, move processed mail to Inbox/LCC Processed, notify Teams. Replaces flag-based ingest. No Flag_email_(V2) action — avoids 'object not found in store' errors.",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "LCC_HOST": {
        "type": "String",
        "defaultValue": "https://life-command-center-nine.vercel.app"
      },
      "LCC_API_KEY": {
        "type": "String",
        "defaultValue": "REPLACE_ME"
      },
      "LCC_WORKSPACE": {
        "type": "String",
        "defaultValue": "REPLACE_WORKSPACE_UUID"
      },
      "INTAKE_FOLDER_PATH": {
        "type": "String",
        "defaultValue": "Inbox/LCC Intake"
      },
      "PROCESSED_FOLDER_PATH": {
        "type": "String",
        "defaultValue": "Inbox/LCC Processed"
      },
      "FAILED_FOLDER_PATH": {
        "type": "String",
        "defaultValue": "Inbox/LCC Failed"
      },
      "TEAMS_TEAM_ID": {
        "type": "String",
        "defaultValue": "REPLACE_TEAM_ID"
      },
      "TEAMS_CHANNEL_ID": {
        "type": "String",
        "defaultValue": "REPLACE_CHANNEL_ID"
      }
    },
    "triggers": {
      "When_a_new_email_arrives_in_a_folder_(V3)": {
        "type": "ApiConnectionNotification",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "fetch": {
            "pathTemplate": {
              "template": "/v3/Mail/OnNewEmail"
            },
            "method": "get",
            "queries": {
              "folderPath": "@{parameters('INTAKE_FOLDER_PATH')}",
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "includeAttachments": true,
              "subjectFilter": ""
            }
          },
          "subscribe": {
            "body": {
              "NotificationUrl": "@{listCallbackUrl()}"
            },
            "pathTemplate": {
              "template": "/GraphMailSubscriptionPoke/$subscriptions"
            },
            "method": "post",
            "queries": {
              "folderPath": "@{parameters('INTAKE_FOLDER_PATH')}",
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "includeAttachments": true,
              "subjectFilter": ""
            }
          }
        },
        "splitOn": "@triggerBody()?['value']"
      }
    },
    "actions": {
      "Compose_BodyPreview": {
        "type": "Compose",
        "inputs": "@{substring(coalesce(triggerOutputs()?['body/bodyPreview'], ''), 0, min(length(coalesce(triggerOutputs()?['body/bodyPreview'], '')), 220))}"
      },
      "HTTP_IntakeOutlookMessage": {
        "type": "Http",
        "runAfter": {
          "Compose_BodyPreview": [
            "Succeeded"
          ]
        },
        "inputs": {
          "method": "POST",
          "uri": "@{concat(parameters('LCC_HOST'), '/api/intake-outlook-message')}",
          "headers": {
            "Content-Type": "application/json",
            "x-lcc-key": "@{parameters('LCC_API_KEY')}",
            "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
          },
          "body": {
            "message_id": "@{triggerOutputs()?['body/id']}",
            "internet_message_id": "@{triggerOutputs()?['body/internetMessageId']}",
            "subject": "@{triggerOutputs()?['body/subject']}",
            "from": "@{triggerOutputs()?['body/from']}",
            "to": "@{triggerOutputs()?['body/to']}",
            "body_preview": "@{outputs('Compose_BodyPreview')}",
            "received_date_time": "@{triggerOutputs()?['body/receivedDateTime']}",
            "web_link": "@{triggerOutputs()?['body/webLink']}",
            "has_attachments": "@{triggerOutputs()?['body/hasAttachments']}",
            "attachments": "@{triggerOutputs()?['body/attachments']}",
            "source_folder_path": "@{parameters('INTAKE_FOLDER_PATH')}"
          },
          "retryPolicy": {
            "type": "exponential",
            "count": 3,
            "interval": "PT10S",
            "minimumInterval": "PT10S",
            "maximumInterval": "PT1M"
          }
        }
      },
      "HTTP_GetIntakeSummary": {
        "type": "Http",
        "runAfter": {
          "HTTP_IntakeOutlookMessage": [
            "Succeeded"
          ]
        },
        "inputs": {
          "method": "GET",
          "uri": "@{concat(parameters('LCC_HOST'), '/api/intake-summary?correlation_id=', body('HTTP_IntakeOutlookMessage')?['correlation_id'], '&limit=1')}",
          "headers": {
            "x-lcc-key": "@{parameters('LCC_API_KEY')}",
            "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
          }
        }
      },
      "Move_email_(V2)_ToProcessed": {
        "type": "ApiConnection",
        "runAfter": {
          "HTTP_GetIntakeSummary": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/Mail/@{encodeURIComponent(encodeURIComponent(triggerOutputs()?['body/id']))}/move",
          "queries": {
            "folderPath": "@{parameters('PROCESSED_FOLDER_PATH')}"
          }
        }
      },
      "Post_AdaptiveCard_To_Teams": {
        "type": "ApiConnection",
        "runAfter": {
          "Move_email_(V2)_ToProcessed": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['teams']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v3/conversations/@{encodeURIComponent(parameters('TEAMS_TEAM_ID'))}/channels/@{encodeURIComponent(parameters('TEAMS_CHANNEL_ID'))}/messages",
          "body": {
            "contentType": "html",
            "content": "<p>📥 <b>New Intake Item Captured</b></p><p><b>Sender:</b> @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['sender'], triggerOutputs()?['body/from'])}<br/><b>Subject:</b> @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['subject'], triggerOutputs()?['body/subject'])}<br/><b>Summary:</b> @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['summary'], outputs('Compose_BodyPreview'))}</p><p>🔗 <b>LCC Item:</b> <a href=\"@{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['lcc_item_url'], concat(parameters('LCC_HOST'), '/?page=pageInbox'))}\">Open in LCC</a></p><p><i>Run:</i> @{body('HTTP_IntakeOutlookMessage')?['correlation_id']}<br/><i>Processed:</i> @{body('HTTP_IntakeOutlookMessage')?['processed']}<br/><i>Failed:</i> @{body('HTTP_IntakeOutlookMessage')?['failed']}<br/><i>Source:</i> @{parameters('INTAKE_FOLDER_PATH')} → @{parameters('PROCESSED_FOLDER_PATH')}</p>"
          }
        }
      },
      "Scope_OnFailure": {
        "type": "Scope",
        "runAfter": {
          "HTTP_IntakeOutlookMessage": [
            "Failed",
            "TimedOut"
          ]
        },
        "actions": {
          "Move_email_(V2)_ToFailed": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['office365']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v2/Mail/@{encodeURIComponent(encodeURIComponent(triggerOutputs()?['body/id']))}/move",
              "queries": {
                "folderPath": "@{parameters('FAILED_FOLDER_PATH')}"
              }
            }
          },
          "Post_FailureNotice_To_Teams": {
            "type": "ApiConnection",
            "runAfter": {
              "Move_email_(V2)_ToFailed": [
                "Succeeded",
                "Failed",
                "Skipped",
                "TimedOut"
              ]
            },
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['teams']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v3/conversations/@{encodeURIComponent(parameters('TEAMS_TEAM_ID'))}/channels/@{encodeURIComponent(parameters('TEAMS_CHANNEL_ID'))}/messages",
              "body": {
                "contentType": "html",
                "content": "<p>⚠️ <b>LCC Intake Ingest Failed</b></p><p><b>Subject:</b> @{triggerOutputs()?['body/subject']}<br/><b>From:</b> @{triggerOutputs()?['body/from']}<br/><b>Status:</b> @{outputs('HTTP_IntakeOutlookMessage')?['statusCode']}<br/><b>Error:</b> @{coalesce(body('HTTP_IntakeOutlookMessage')?['error'], 'see flow run')}</p><p><i>Email moved to:</i> @{parameters('FAILED_FOLDER_PATH')}</p>"
              }
            }
          }
        }
      }
    }
  },
  "connectionReferences": {
    "office365": {
      "api": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365"
      },
      "connection": {
        "id": "CONFIGURE_AT_IMPORT"
      },
      "connectionName": "shared-office365"
    },
    "teams": {
      "api": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_teams"
      },
      "connection": {
        "id": "CONFIGURE_AT_IMPORT"
      },
      "connectionName": "shared-teams"
    }
  }
}
