flow-outlook-calendar-sync.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Hour",
          "interval": 1
        }
      }
    },
    "actions": {
      "Initialize_AllEvents": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "AllEvents",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {}
      },
      "List_Office365_Calendars": {
        "type": "ApiConnection",
        "description": "Returns ALL calendars in the work mailbox: primary, shared mailbox delegates, iCal subscriptions (TeamSnap, etc.).",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v3/Me/Calendars"
        },
        "runAfter": {
          "Initialize_AllEvents": ["Succeeded"]
        }
      },
      "Loop_Each_Work_Calendar": {
        "type": "Foreach",
        "foreach": "@body('List_Office365_Calendars')?['value']",
        "actions": {
          "Get_Calendar_View_For_Calendar": {
            "type": "ApiConnection",
            "description": "GetEventsCalendarView V3 — expands recurring events into instances within the window. Returns `start`/`end` as {dateTime, timeZone} objects which the edge function normalizes to true UTC.",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['office365']['connectionId']"
                }
              },
              "method": "get",
              "path": "/datasets/calendars/v3/tables/@{encodeURIComponent(items('Loop_Each_Work_Calendar')?['Id'])}/calendarview",
              "queries": {
                "startDateTimeUtc": "@{addDays(utcNow(), -1)}",
                "endDateTimeUtc": "@{addDays(utcNow(), 30)}"
              }
            },
            "runAfter": {}
          },
          "Loop_Each_Event_In_Calendar": {
            "type": "Foreach",
            "foreach": "@body('Get_Calendar_View_For_Calendar')?['value']",
            "actions": {
              "Append_Event": {
                "type": "AppendToArrayVariable",
                "inputs": {
                  "name": "AllEvents",
                  "value": {
                    "Id": "work-@{items('Loop_Each_Work_Calendar')?['Id']}-@{items('Loop_Each_Event_In_Calendar')?['id']}",
                    "Subject": "@{items('Loop_Each_Event_In_Calendar')?['subject']}",
                    "Start": "@items('Loop_Each_Event_In_Calendar')?['start']",
                    "End": "@items('Loop_Each_Event_In_Calendar')?['end']",
                    "Location": "@{items('Loop_Each_Event_In_Calendar')?['location']?['displayName']}",
                    "IsAllDay": "@{items('Loop_Each_Event_In_Calendar')?['isAllDay']}",
                    "Organizer": "@{items('Loop_Each_Event_In_Calendar')?['organizer']?['emailAddress']?['address']}",
                    "BodyPreview": "@{substring(coalesce(items('Loop_Each_Event_In_Calendar')?['bodyPreview'], ''), 0, min(length(coalesce(items('Loop_Each_Event_In_Calendar')?['bodyPreview'], '')), 300))}",
                    "WebLink": "@{items('Loop_Each_Event_In_Calendar')?['webLink']}",
                    "IsRecurring": "@{items('Loop_Each_Event_In_Calendar')?['isRecurrence']}",
                    "CalendarName": "@{items('Loop_Each_Work_Calendar')?['Name']}",
                    "Sensitivity": "@{items('Loop_Each_Event_In_Calendar')?['sensitivity']}",
                    "ShowAs": "@{items('Loop_Each_Event_In_Calendar')?['showAs']}"
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Get_Calendar_View_For_Calendar": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "List_Office365_Calendars": ["Succeeded"]
        }
      },
      "POST_To_Supabase": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "https://zqzrriwuavgrquhisnoa.supabase.co/functions/v1/ai-copilot/sync/calendar-events",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "events": "@variables('AllEvents')",
            "correlation_id": "@{guid()}",
            "schema_version": "2026-05-21"
          },
          "retryPolicy": {
            "type": "exponential",
            "count": 4,
            "interval": "PT10S"
          }
        },
        "runAfter": {
          "Loop_Each_Work_Calendar": ["Succeeded"]
        }
      }
    }
  },
  "connectionReferences": {
    "office365": {
      "api": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365"
      },
      "connection": {
        "id": "CONFIGURE_AT_IMPORT"
      },
      "connectionName": "shared-office365"
    }
  }
}
