flow-outlook-intake-to-teams.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      },
      "LCC_HOST": {
        "type": "String",
        "defaultValue": "https://tranquil-delight-production-633f.up.railway.app"
      },
      "LCC_API_KEY": {
        "type": "String",
        "defaultValue": "REPLACE_ME"
      },
      "LCC_WORKSPACE": {
        "type": "String",
        "defaultValue": "REPLACE_WORKSPACE_UUID"
      },
      "TEAMS_TEAM_ID": {
        "type": "String",
        "defaultValue": "REPLACE_TEAM_ID"
      },
      "TEAMS_CHANNEL_ID": {
        "type": "String",
        "defaultValue": "REPLACE_CHANNEL_ID"
      }
    },
    "triggers": {
      "When_an_email_is_flagged_(V3)": {
        "type": "ApiConnectionNotification",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "fetch": {
            "pathTemplate": {
              "template": "/v3/Mail/OnFlaggedEmail"
            },
            "method": "get",
            "queries": {
              "folderPath": "Inbox",
              "importance": "Any",
              "fetchOnlyWithAttachment": false
            }
          },
          "subscribe": {
            "body": {
              "NotificationUrl": "@{listCallbackUrl()}"
            },
            "pathTemplate": {
              "template": "/v3/Mail/OnFlaggedEmailPokeSubscription"
            },
            "method": "post",
            "queries": {
              "folderPath": "Inbox",
              "importance": "Any",
              "fetchOnlyWithAttachment": false
            }
          }
        }
      }
    },
    "actions": {
      "HTTP_PostIntakeMessage": {
        "type": "Http",
        "description": "Per-message intake. POST this ONE flagged email to LCC's /api/intake?_route=outlook-message. handleOutlookMessage extracts/stages/dedups it and returns the AUTHORITATIVE decision in the JSON `processing_complete` block (outcome + target_folder + final_target_folder + clear_flag) plus a `correlation_id`. Runs directly off the trigger — NOT dependent on the webLink lookup, so a webLink failure can never block intake or the Teams card.",
        "runAfter": {},
        "inputs": {
          "method": "POST",
          "uri": "@{concat(parameters('LCC_HOST'), '/api/intake?_route=outlook-message')}",
          "headers": {
            "Content-Type": "application/json",
            "x-lcc-key": "@{parameters('LCC_API_KEY')}",
            "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
          },
          "body": {
            "internet_message_id": "@{triggerOutputs()?['body/internetMessageId']}",
            "message_id": "@{triggerOutputs()?['body/id']}",
            "subject": "@{triggerOutputs()?['body/subject']}",
            "body_preview": "@{triggerOutputs()?['body/bodyPreview']}",
            "body_html": "@{triggerOutputs()?['body/body']}",
            "web_link": "@{triggerOutputs()?['body/webLink']}",
            "received_date_time": "@{triggerOutputs()?['body/receivedDateTime']}",
            "from": "@{triggerOutputs()?['body/from']}",
            "has_attachments": "@{triggerOutputs()?['body/hasAttachments']}",
            "to_recipients": "@{triggerOutputs()?['body/toRecipients']}"
          }
        }
      },
      "HTTP_GetEmailWebLink": {
        "type": "Http",
        "description": "Optional, NON-BLOCKING web-link enrichment. Runs in PARALLEL off the trigger (never gates intake or the card). The Teams card falls back to triggerOutputs()?['body/webLink'] if this fails, so its Succeeded/Failed status is intentionally ignored downstream.",
        "runAfter": {},
        "inputs": {
          "method": "GET",
          "uri": "@{concat(parameters('LCC_HOST'), '/api/intake?_route=email-web-link&internet_message_id=', encodeUriComponent(triggerOutputs()?['body/internetMessageId']))}",
          "headers": {
            "x-lcc-key": "@{parameters('LCC_API_KEY')}",
            "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
          }
        }
      },
      "HTTP_GetIntakeSummary": {
        "type": "Http",
        "description": "Fetch the human-readable summary for the card, keyed on the correlation_id returned by HTTP_PostIntakeMessage. Depends on intake succeeding — NOT on the webLink lookup.",
        "runAfter": {
          "HTTP_PostIntakeMessage": [
            "Succeeded"
          ]
        },
        "inputs": {
          "method": "GET",
          "uri": "@{concat(parameters('LCC_HOST'), '/api/intake-summary?correlation_id=', body('HTTP_PostIntakeMessage')?['correlation_id'], '&limit=1')}",
          "headers": {
            "x-lcc-key": "@{parameters('LCC_API_KEY')}",
            "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
          }
        }
      },
      "Post_card_in_a_chat_or_channel": {
        "type": "ApiConnection",
        "description": "Teams notification. Runs after HTTP_GetEmailWebLink completes so it can prefer the enriched link, but treats it as OPTIONAL (Succeeded OR Failed) — a webLink failure must never suppress the card. Also requires HTTP_GetIntakeSummary Succeeded for the summary/outcome.",
        "runAfter": {
          "HTTP_GetIntakeSummary": [
            "Succeeded"
          ],
          "HTTP_GetEmailWebLink": [
            "Succeeded",
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['teams']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v3/conversations/@{encodeURIComponent(parameters('TEAMS_TEAM_ID'))}/channels/@{encodeURIComponent(parameters('TEAMS_CHANNEL_ID'))}/messages",
          "body": {
            "content": "📥 **New Intake Item Captured**\n\n**Sender:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['sender'], triggerOutputs()?['body/from'])}\n**Subject:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['subject'], triggerOutputs()?['body/subject'])}\n**Summary:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['summary'], triggerOutputs()?['body/bodyPreview'])}\n\n**Outcome:** @{body('HTTP_PostIntakeMessage')?['processing_complete']?['outcome']}\n**Filed to:** @{coalesce(body('HTTP_PostIntakeMessage')?['processing_complete']?['target_folder'], 'left in Inbox (needs review)')}\n\n🔗 **LCC Item:** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['lcc_item_url'], concat(parameters('LCC_HOST'), '/#/inbox'))}\n📧 **Open Email (Desktop):** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['email_url_desktop'], concat('ms-outlook://open?url=', encodeUriComponent(coalesce(body('HTTP_GetEmailWebLink')?['web_link'], triggerOutputs()?['body/webLink'], ''))))}\n🌐 **Open Email (Web):** @{coalesce(first(body('HTTP_GetIntakeSummary')?['items'])?['email_url'], body('HTTP_GetEmailWebLink')?['web_link'], triggerOutputs()?['body/webLink'])}\n\n_Run:_ @{body('HTTP_PostIntakeMessage')?['correlation_id']}"
          }
        }
      },
      "Condition_ShouldMove": {
        "type": "If",
        "description": "Guard the move relay: only fire HTTP_ProcessingComplete when the recorded decision carries a non-empty target_folder. A `needs_review` outcome resolves target_folder to null (leave in place) and would 400 the required-target_folder receiver, so it is skipped here. Runs after the card so a move/relay failure never blocks the notification.",
        "runAfter": {
          "Post_card_in_a_chat_or_channel": [
            "Succeeded"
          ]
        },
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@coalesce(body('HTTP_PostIntakeMessage')?['processing_complete']?['target_folder'], '')",
                  ""
                ]
              }
            }
          ]
        },
        "actions": {
          "HTTP_ProcessingComplete": {
            "type": "Http",
            "description": "LCC relay (Option A caller): forward the AUTHORITATIVE recorded decision from HTTP_PostIntakeMessage's processing_complete block VERBATIM. /api/webhooks/processing-complete relays target_folder/disposition/clear_flag to pa-move-message.js, which fires the 'LCC Processing Complete → Move Message' flow. NEVER hardcode target_folder/disposition — the receiver relays the body verbatim and the pull-queue drain is retired, so a hardcoded value fires a REAL wrong move. staged → staging folder + KEEP flag; filed/duplicate → move + CLEAR flag. One POST per flagged email (single internet_message_id).",
            "runAfter": {},
            "inputs": {
              "method": "POST",
              "uri": "@{concat(parameters('LCC_HOST'), '/api/webhooks/processing-complete')}",
              "headers": {
                "Content-Type": "application/json",
                "x-lcc-key": "@{parameters('LCC_API_KEY')}",
                "x-lcc-workspace": "@{parameters('LCC_WORKSPACE')}"
              },
              "body": {
                "correlation_id": "@{body('HTTP_PostIntakeMessage')?['correlation_id']}",
                "schema_version": "1.0",
                "internet_message_id": "@{body('HTTP_PostIntakeMessage')?['processing_complete']?['internet_message_id']}",
                "target_folder": "@{body('HTTP_PostIntakeMessage')?['processing_complete']?['target_folder']}",
                "final_target_folder": "@{body('HTTP_PostIntakeMessage')?['processing_complete']?['final_target_folder']}",
                "disposition": "@{body('HTTP_PostIntakeMessage')?['processing_complete']?['outcome']}",
                "clear_flag": "@{body('HTTP_PostIntakeMessage')?['processing_complete']?['clear_flag']}",
                "subject": "@{triggerOutputs()?['body/subject']}"
              }
            }
          }
        },
        "else": {
          "actions": {}
        }
      }
    }
  },
  "connectionReferences": {
    "office365": {
      "api": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365"
      },
      "connection": {
        "id": "CONFIGURE_AT_IMPORT"
      },
      "connectionName": "shared-office365"
    },
    "teams": {
      "api": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_teams"
      },
      "connection": {
        "id": "CONFIGURE_AT_IMPORT"
      },
      "connectionName": "shared-teams"
    }
  }
}
